<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Django 1 - Produto</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Qnt. em Estoque</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'index' %}">{{ produto.nome }}</a></td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>